@import 'tailwindcss';

@layer base {
    :root {
          --primary: #4488FF;
          --primary-light: #6BA3FF;
          --secondary: #8844FF;
          --secondary-light: #A366FF;
          --bg: #020205;
          --bg-secondary: #080809;
          --text: #F0F0FF;
          --text-secondary: #8888AA;
          --border: #1E1E2E;
    }

  * {
        @apply border-border;
  }

  html {
        @apply scroll-smooth;
  }

  body {
        @apply bg-bg text-text;
  }
}
